{% extends "base.twig" %}
{% block title %}Upload{%endblock%}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    Title: <input type="text" name="title"><br /><br />
    <input type="file" name="video"><br /><br />
    <button type="submit">Upload</button>
</form>
{% endblock %}