{% extends "base.twig" %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="video">
    <button type="submit">Upload</button>
</form>
{% endblock %}