<div>
<a href="/watch/?v={{ video.video_uid}}">
    <img src="/static/video/{{ video.video_uid}}.png" alt="{{ video.title }}" class="view_item_preview"/>
</a><br />
{{ video.title }}
</div>
<div class="clear"><hr></div>